<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554696038709-9g882km47mddnmlaa6aiuekffemf4mar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554696038709-9g882km47mddnmlaa6aiuekffemf4mar</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>554696038709-4rtq1j6ob2lrso7kbrkdfmqaa02ea2b7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvejc1gSagk5Lml0ltWlbB8hzL4lJqBu4</string>
	<key>GCM_SENDER_ID</key>
	<string>554696038709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vk.postbar</string>
	<key>PROJECT_ID</key>
	<string>isler-destek</string>
	<key>STORAGE_BUCKET</key>
	<string>isler-destek.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554696038709:ios:b8b8f5eeb6dabd6fced47c</string>
	<key>DATABASE_URL</key>
	<string>https://isler-destek-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>